@model IEnumerable<EmployeeData>
@inject IHttpContextAccessor HttpContextAccessor;
@{
    ViewData["Title"] = "Index";
}
  <style>
    body{
         background: linear-gradient(135deg, #71b7e6, #9b59b6);

    }
    table{
        border:2px rgb(15, 4, 4);
    }
   
 </style>
 <head><meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></head>
  <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light  ">
            <div class="container-fluid">
                <img src="~/images/Elogo.png" style="width: 5%;margin-right:30px;"  alt="LOGO">
                <a class="navbar-brand" asp-area="" asp-controller="Admin" asp-action="Success">IDENTITY MANAGEMENT</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse  justify-content-between">
                    <ul class="navbar-nav ">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="EmployeeData" asp-action="Create"><b>Add Employee</b></a> </li>
                        <li class="nav-item">
                             <a class="nav-link text-dark" asp-area="" asp-controller="EmployeeData" asp-action="Index"><b>Update & Delete</b></a> </li>
                        
                      </div>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" >
                    <ul class="navbar-nav ">
                        <li class="nav-item">
                         <a class="nav-link text-dark" asp-area="" asp-controller="Request" asp-action="Create"> <i class="fa fa-bell" style="font-size:28px;color:rgb(22, 17, 19)"></i></a>
                           
                        </li>
                        <li class="nav-item">
                         <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Success"> <i class="fa fa-user" style="font-size:28px;color:rgb(22, 17, 19)"></i></a>
                         
                        </li>
                         <li class="nav-item">
                        
                           <a class="greeting nav-link text-dark" style="color: rgb(187, 26, 26);">  Hi  @HttpContextAccessor.HttpContext.Session.GetString("EmailId")</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AdminLogin"><b>Logout</b></a>
                        </li>
                    </ul>
                </div> 
                             @* <ul class="navbar-nav ">
                              <h5 class="greeting" style="color: rgb(187, 26, 26);"> Hi  @HttpContextAccessor.HttpContext.Session.GetString("EmailId")</h5>
                          </ul></div> *@
                         
                        
                  
            </div>
        </nav>
 
  </header>
@* <h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p> *@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateofBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeePackage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Experience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddarNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateofBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeePackage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Experience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddarNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                
                <a style="color:black;" asp-action="Details" asp-route-id="@item.UserId">Details</a> |
               
            </td>
        </tr>
}
    </tbody>
</table>
